
# NEXT_PUBLIC_USE_MOCK_DATA=false

# FastAPI backend URL
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000

# # Demo customer email for the user portal in mock mode
# NEXT_PUBLIC_MOCK_USER_EMAIL=user-submit@acme.com
